@model PagedList<Post>

@using NewsBlog.Domain;
@using NewsBlog.Data;
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    var isAdmin = await AuthorizationService.AuthorizeAsync(User, "Administrator");
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Posts</h3>

        <div class="box-tools">
            @if (isAdmin)
            {
                <a asp-controller="News" asp-action="Create" class="btn btn-sm btn-info btn-flat pull-left">
                    <i class="fa fa-fw fa-plus"></i>
                    New Post
                </a>
            }
        </div>
    </div>

    <div class="box-body no-padding">
        @foreach (var post in Model)
            {
            <div class="box no-border">
                <div class="box-header">
                    <a asp-controller="News" asp-action="View" asp-route-id="@post.Id">@post.Title</a>

                    <div class="box-tools">
                        @if (isAdmin)
                        {
                            <a asp-controller="News" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-sm btn-info btn-flat">
                                <i class="fa fa-fw fa-edit"></i>
                            </a>
                                    <a asp-controller="News" asp-action="Delete" asp-route-id="@post.Id" class="btn btn-sm btn-info btn-flat">
                                        <i class="fa fa-fw fa-remove"></i>
                                    </a>
                        }
                    </div>
                </div>
                <div class="box-body">
                    <p>
                        @Html.Raw(post.Text)
                    </p>
                </div>
            </div>
        }

        @*<table class="table">
                <tbody>
                    @foreach (var post in Model)
                    {
                        <tr>
                            <td>@post.ImagePath</td>
                            <td>
                                <a asp-controller="News" asp-action="View" asp-route-id="@post.Id">@post.Title</a>
                                <p>
                                    @Html.Raw(post.Text)
                                </p>
                            </td>
                            <td>
                                @if (isAdmin)
                                {
                                    <a asp-controller="News" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-sm btn-info btn-flat">
                                        <i class="fa fa-fw fa-edit"></i>
                                    </a>
                                    <a asp-controller="News" asp-action="Delete" asp-route-id="@post.Id" class="btn btn-sm btn-info btn-flat">
                                        <i class="fa fa-fw fa-remove"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>*@
    </div>

    <div class="box-footer">
        <div class="box-tools">
            @await Component.InvokeAsync("Pager", new { page = Model.PageIndex, count = Model.TotalPages })
        </div>
    </div>
</div>